@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script>
        //SignalR.funcs.hello;
        console.log(SignalR.funcs.myConnection);
        SignalR.funcs.myConnection.on("messageReceived", (group) => {

            //const groupq = `<input type="radio" id="group${group.id}" name="group" value="${group.id}"><label for="group${group.id}">${group.name}</label><br>`;
            //divGroup.innerHTML += groupq;

        });
    </script>
}